{% block form_widget %}
	<div class="col-11">
		{% for field in form %}
			<div class="row form-group">
				{% form_theme field "Form/form-theme.html.twig"%}
				{{ form_widget(field, {'attr': {'required': true}}) }}
			</div>
		{% endfor %}
	</div>
{% endblock %}
