.form-inline .form-control.taxa-select {
    width: 100%;
}

.dataTable a {
    color: #337ab7;
}

.dataTable a:hover {
    color: #005580;
}

.dt-top-bar {
    float: right;
    width: 60%
}

@-moz-document url-prefix() {
    fieldset {
        display: table-cell;
    }
}

.tooltip {
    max-width: unset;
}

.tooltip-inner {
    max-width: unset;
}

.tooltip-arrow {
    max-width: unset;
}

.taxon-spinner {
    font-size: 18px;
    padding: 0 20px;
}