div.geo-container {
    position: relative;
}

.geo-container div.geo-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    text-align: center
}

.geo-container div.geo-overlay i {
    margin-top: 20%;
}

.form-inline .form-control.taxa-select {
    width: 100%;
}

.dataTable a {
    color: #337ab7;
}

.dataTable a:hover {
    color: #005580;
}

.dt-top-bar {
    float: right;
    width: 60%
}

@-moz-document url-prefix() {
    fieldset {
        display: table-cell;
    }
}

.tooltip {
    max-width: unset;
}

.tooltip-inner {
    max-width: unset;
}

.tooltip-arrow {
    max-width: unset;
}

.taxon-spinner {
    font-size: 18px;
    padding: 0 20px;
}

@media (min-width: 1300px) {
    .modal .modal-lg {
        width: 1200px !important;
    }
}

.modal-co1 .modal-body {
    padding: 0px;
}

.modal-footer {
    display: flex;
    justify-content: space-between;
}

.modal-footer:before {
    content: none;
}

.modal-footer:after {
    content: none;
}

.modal-footer .close-modal {
    order: 99;
    align-self: flex-end;
}

.modal-footer-form {
    max-width: 80%;
}

.modal-footer-form label {
    font-weight: 100;
    font-size: 16px;
    margin-right: 15px;
    margin-left: 15px;
}

.modal-footer-form div.form-group {
    display: inline-block;
}

.slider-selection {
    background: rgb(51, 164, 179);
}

.slider-track-high {
    background-color: rgb(156, 175, 175);
}

.leaflet-control-layers,
.leaflet-control-layers-list,
.leaflet-popup-content-wrapper,
.leaflet-popup-tip {
    background-color: rgb(55, 75, 75);
    color: white;
}

button#reset-zoom {
    padding: 5px;
    margin-left: 15px;
    color: grey;
}

.leaflet-bar button {
    margin: 0;
}

#station-geo-map {
    height: 80vh;
    width: 100%;
}

.leaflet-control-layers-list label div {
    display: flex;
    /* justify-content: space-between; */
}

.leaflet-control-layers-list label div>span {
    display: flex;
    justify-content: space-between;
    align-content: center;
    width: 100%;
    margin-left: 10px;
}

.leaflet-control-layers-list label div>span>svg {
    margin-left: 10px;
}

input.leaflet-control-layers-selector {
    margin: 0px;
    top: 0px;
}

p.station-popup-row {
    display: flex;
    justify-content: space-between;
    justify-self: stretch;
    margin: 0;
    padding: 0;
}

.station-popup {
    display: grid;
    grid-template-columns: auto-fit auto-fit;
    grid-template-rows: auto;
    grid-column-gap: 10px;
    grid-auto-rows: min-content;
}

.station-popup a{
    color: #1ec8d8;
}

.station-popup hr{
  margin-top: 5px;
  margin-bottom: 5px;
}

.station-popup button > i::before{
  margin-right: 5px;
}

input.leaflet-slider {
    width: 100px;
    height: 5px;
    margin: 0;
    transform-origin: 50px 50px;
    transform: rotate(-90deg);
    cursor: pointer;
}

input.leaflet-slider:focus {
    outline: none;
}

input.leaflet-slider::-moz-focus-outer {
    border: 0;
}

.leaflet-slider-container {
    width: 10px;
    height: 100px;
}

.leaflet-control-collapse {
    min-width: 44px;
    min-height: 44px;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.map-control-bar {
    padding: 5px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    grid-auto-flow: column;
    background: rgb(55, 75, 75);
    opacity: 0.8;
    color: white;
    border-radius: 3px;
    align-items: center;
    justify-items: center;
    grid-gap: 5px;
}

.map-control-bar label {
  font-weight: 100;
}

.method-container {
    display:flex;
    flex-flow: wrap;
}

.method-container div.checkbox{
    margin-left: 0px;
    margin-right: 10px;
    font-weight: 400;
}

#motu-geo-map {
    width: 100%;
    height: 80vh;
}

div.station-popup-wrapper{
  display:flex;
  
}

div.station-popup-side {
  display:flex;
  flex-flow: column;
  flex-wrap: wrap;
  padding-left: 10px;
}

/* 
h2#results-title {
  display: flex;
  align-items: center;
}

span#result-label {
  display: flex;
  justify-content: space-between;
  font-size: 60%;
  font-family: 'Courier New', Courier, monospace;
}

span#result-label .label {
  font-size: 100%;
  margin-right: 10px;
  font-weight: inherit;
} */