{% extends 'edit.html.twig' %}

{# EDIT : BOITE #}

{% block titlepage %}
    <div class="page-title">
      <div class="title_left">
        <h1>
            {% if  flagvalid == 1 and actioncontroller != 'new'%} <i class="glyphicon glyphicon-ok"></i>  {% endif %}
            {% if app.request.query.get('typeBoite') is defined and  app.request.query.get('typeBoite') != '' %} 
                    {{ [ ['title.',entityname]|join , app.request.query.get('typeBoite')]|join|trans}}
                {% else %} 
                    {{['title.',entityname ]|join|trans}}
            {% endif %} 
        </h1>
      </div>
      <div class="title_right">
      </div>
    </div>            
    <div class="clearfix"></div>
{% endblock %}

{% block body %}
    
    {{ parent() }}       
 
{% endblock %}

{% block scripts %}
{{ parent() }}
{% if exception_message is defined %} <script type="text/javascript"> alert("{{exception_message|raw}}"); </script> {% endif %}

<script type="text/javascript">  

//  interface Formulaire
    $(document).ready(function(){
    // Actions Jquery                        
        // Collection $sqcEstPublieDanss (Source)        
        $('div#bbees_e3sbundle_boite_adns :input').attr("disabled", true); 
        $('div#bbees_e3sbundle_boite_lotMateriels :input').attr("disabled", true);
        $('div#bbees_e3sbundle_boite_individuLames :input').attr("disabled", true);
        $(document).on('submit','form[name="bbees_e3sbundle_boite"]',function(ev){
                // deverouillage des champ descativé pour permettre l enregistrement
                $('div#bbees_e3sbundle_boite_adns :input').attr("disabled", false); 
                $('div#bbees_e3sbundle_boite_lotMateriels :input').attr("disabled", false);
                $('div#bbees_e3sbundle_boite_individuLames :input').attr("disabled", false);
        }); 
        // Selection automatique du champ typeBoite si il est passé en paramètre URL
        {% if  app.request.query.get('typeBoite')is defined and  app.request.query.get('typeBoite') != ''  %}  
            var typeBoite = "{{app.request.query.get('typeBoite')}}";
            $("#bbees_e3sbundle_boite_typeBoiteVocFk option").filter(function() {
                return this.text == typeBoite; 
            }).attr('selected', true);
            $('#bbees_e3sbundle_boite_typeBoiteVocFk').attr("disabled", true)
            $(document).on('submit','form[name="bbees_e3sbundle_boite"]',function(ev){
                    // deverouillage des champ descativé pour permettre l enregistrement
                    $('#bbees_e3sbundle_boite_typeBoiteVocFk').attr("disabled", false); 
            });
            if (typeBoite == 'LOT') {
                $('#bbees_e3sbundle_boite_adns').parent().parent().hide();
                $('#bbees_e3sbundle_boite_individuLames').parent().parent().hide();                
            }
            if (typeBoite == 'LAME') {
                $('#bbees_e3sbundle_boite_adns').parent().parent().hide();
                $('#bbees_e3sbundle_boite_lotMateriels').parent().parent().hide();              
            }
            if (typeBoite == 'ADN') {
                $('#bbees_e3sbundle_boite_lotMateriels').parent().parent().hide();
                $('#bbees_e3sbundle_boite_individuLames').parent().parent().hide();                
            }
        {% endif %}
        //
        $('#bbees_e3sbundle_boite_codeBoite').keyup(function (e) {
                var codeBoite = $(this).val().replace(/ /g, '_');
                $('#bbees_e3sbundle_boite_codeBoite').val(codeBoite);
        })
        {% if action == 'edit'  %}  
            // Action générale sur le formulaire : verouillage du formulaire (par defaut) / role utilisateur : app.user ...
            {% if not is_granted('ROLE_ADMIN') %}  
                // verouillage des champs : Station; Code collecte; Date collecte
                $('#bbees_e3sbundle_boite_codeBoite').attr("disabled", true); 
                $(document).on('submit','form[name="bbees_e3sbundle_boite"]',function(ev){
                    $('#bbees_e3sbundle_boite_codeBoite').attr("disabled", false); 
                });                 
            {% endif %}
        {% endif %}
        {% if action == 'new'  %} 

        {% endif %}
    });
 </script>


{% endblock %}