/.web-server-pid
/app/config/parameters.yml
/build/
/phpunit.xml
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/vendor/
/web/bundles/
.vscode/
/app/Resources/views/show.html.twig.backup
/nbproject/private/
/app/Resources/views/security/login.html.twig.backup
/e3sDev_cc-in2p3_18092018.tar
/tests
