<form id="main-form" action="#">
  <legend>
      <h2 style='margin-bottom:18px'>
      Query fields
      </h2>
    </legend>
  
  </div>
  <div class="row"> 
    <div class="col-xs-12 col-md-5 col-lg-5" style="padding-left:25px">
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="row" >
            <div class="col-xs-12 col-sm-7">
              <div class="form-group">
                <label class="control-label" for="niveau">
                  Table            </label>
                <div class="btn-group bootstrap-select form-control" data-original-title="" title="">
                </div>
              </div>
            </div>
            <div class="col-xs-12 col-sm-4">
              <div class="form-horizontal">
                <div class="form-group">
                  <div class="checkbox checkbox-inline">
                    <label>
                      <input type="checkbox" name="criteres[]" value="108" checked="checked">
                      Contraintes
                    </label>
                  </div>
                </div>
              </div>
            </div>
        
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-md-5 col-lg-5">
      <i class="glyphicon glyphicon-plus-sign" style="font-size:30px";></i>
    </div>
    <div class="col-xs-12 col-sm-8 " style="padding-left:25px">
      <div class="panel panel-default">
        <div class="panel-heading">
          <strong>Nouvelle sélection</strong>
        </div>
        <div class="panel-body">
          <div class="row">
            <div class="col-xs-12 col-sm-4">
              <label for="lot-materiel" class="control-label"> Table précédente</label>
              <div class="btn-group bootstrap-select form-control concordance">
              </div>
            </div>
            <div class="col-xs-12 col-sm-4">
              <label for="individu" class="control-label">
              Choix jointure              </label>
              <div class="btn-group bootstrap-select form-control concordance">
              </div>
            </div>
            <div class="col-xs-12 col-sm-4">
              <label for="sequence" class="control-label">
              Table adjacente              </label>
              <div class="btn-group bootstrap-select form-control concordance">
              </div>
            </div>
            <div class="col-xs-12 col-sm-4">
              <div class="form-group">
                <div class="checkbox checkbox-inline">
                  <label>
                      <input type="checkbox" name="criteres[]" value="108" checked="checked">
                      Contraintes
                  </label>
                </div>
              </div>
            </div>
          </div>
      </div>          
    </div>
    <div class="col-xs-12 col-sm-5 col-sm col-lg-4" style="padding-left:20px">
      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="form-check">
            <strong> Choix des champs </strong>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-2 col-sm-8" >
      <div id="builder-basic">

      </div>
    </div>
  <div >
    <center >
      <button
        type="submit"
        href="#resultats"
        value="Rechercher"
        class="btn btn-primary btn-lg"
        id="submit-button"
        style="min-width: 10em"
        data-loading-text="<i class='fas fa-spinner fa-spin'></i>">
        {% trans %}
        Search
        {% endtrans %}
      </button>
    </center>
    </div>
  </div>
</form>