
<div class="col-xs-12 col-sm-2" >
    <legend>
      <h3>
      <span>
      Historique
      </span>
      </h3>
    </legend>
    <dic class="btn-group">
        <button class="btn btn-primary parse-json" >Get SQL</button>
    </div>
</div>

<div class="col-xs-12 col-sm-4">
    <legend>
      <h3>
      <span>
      Tableau des résultats
      </span>
      </h3>
    </legend>
</div>