{% extends 'base.html.twig' %}

{% block stylesheets %}
	{{parent()}}
	{{ encore_entry_link_tags('querybuilder') }}
{% endblock %}

{% block titlepage %}
	<h1 id="main-page-title">
		Query Builder
	</h1>
{% endblock %}

{% block body %}

	{% include 'QueryBuilder/logical.db.model.html.twig' %}

	<legend>
		<h2 id="query-fields-title">
			{% trans %} Query fields {% endtrans %}
		</h2>
	</legend>

	<div id="form-container"></div>

	<hr class="m-5">

	{# <div class='row'>
			<div
				class="col-12">
				{% include 'QueryBuilder/form.html.twig' %}
			</div>
		</div>
		<hr> #}
	<div>
		{% include 'QueryBuilder/results.html.twig' %}
		<button class="help-btn btn btn-info float-right" id="myBtn" title="Go to top">
			<i class="fas fa-chevron-up" style="font-size:20px"></i>
		</button>
	</div>

{% endblock %}

{% block scripts %}
	{{ parent() }}
	{{ encore_entry_script_tags('querybuilder') }}
{% endblock %}
