{% extends 'base.html.twig' %}

{% block stylesheets %}
	{{parent()}}
	{{ encore_entry_link_tags('querybuilder') }}
{% endblock %}

{% block page_title %}
	<h1 id="main-page-title">
		Query Builder
	</h1>
{% endblock %}

{% block body %}

	{% include 'QueryBuilder/logical.db.model.html.twig' %}

	<div id="form-container"></div>

{% endblock %}

{% block scripts %}
	{{ parent() }}
	{{ encore_entry_script_tags('querybuilder') }}
{% endblock %}
