{% extends 'base.html.twig' %}

{% block stylesheets %}
	{{parent()}}
	{{ encore_entry_link_tags('querybuilder') }}
{% endblock %}

{% block titlepage %}
	<h1 id="main-page-title">
		Query Builder
	</h1>
{% endblock %}

{% block body %}

	{% include 'QueryBuilder/logical.db.model.html.twig' %}

	<legend>
		<h2 id="query-fields-title">
			{% trans %} Query {% endtrans %}
		</h2>
	</legend>

	<div id="form-container"></div>

	<hr class="m-5"> {% include 'QueryBuilder/results.html.twig' %}


{% endblock %}

{% block scripts %}
	{{ parent() }}
	{{ encore_entry_script_tags('querybuilder') }}
{% endblock %}
