{% trans_default_domain 'queries' %}


<!-- Modal -->
<div class="modal fade" id="modal-sql" role="dialog">
	<div
		class="modal-dialog modal-lg">

		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">Query as SQL</h4>
				<button type="button" class="close" data-dismiss="modal">&times;</button>
			</div>
			<pre class="mb-0"><code id="contentModalQuerySql" class="lang-sql pl-5"></code></pre>
			{# <h5>DQL</h5><pre id="contentModalQuery"></pre> #}

			<div class="modal-footer">
				<button type="button" class="btn btn-light border" id="copySQL">
					<i class="fas fa-copy"></i>
					<span>Copy</span>
				</button>
			</div>
		</div>

	</div>
</div>

<div id="results" class="collapse">
	<legend>
		<h3>
			Results
			<button
				class="btn btn-primary"
				id="getSqlButton"
				type="button"
				disabled
				data-toggle="modal"
				data-target="#modal-sql">
				Get SQL
			</button>
		</h3>
	</legend>
	<div id="result-container"></div>
</div>
