{% extends 'bootstrap_3_horizontal_layout.html.twig' %}

{% block form_label %}

{# 
    {% if required %}
        <div class="col-sm-auto text-right" style="color:red;">*</div>
    {% endif %}
#}

 
{{ parent() }}


{% endblock %}

