{# Form component for the initial block of the QueryBuilder #}

{% trans_default_domain 'queries' %}

<div class="card panel-default" id="initial-panel">
	<div class="card-header" id="initial-header">
		<div class="form-group" id="initial-table-selection">
			<label class="col-form-label" for="initial-table">
				{% trans %}
				Initial Table
				{% endtrans %}
			</label>
			<br>
			<select name="initial-table" id="initial-table" class="selectpicker" title="Pick a table" data-live-search="true" data-toggle="tooltip" data-size="15">
				<option selected="true" disabled>Choose table</option>
			</select>
		</div>
	</div>
	<div class="fields-constraints-options" id="initial-fields-constraints-options">
		<div class="form-group" id="initial-selected-fields">
			<label class="col-form-label" for="initial-fields">
				{% trans %}
				Select Field(s)
				{% endtrans %}
			</label>
			<br>
			<select name="initial-fields" id="initial-fields" multiple data-toggle="tooltip"></select>
		</div>
		<div class="form-group" id="initial-checked-constraints">
			<strong>
				{% trans %}
				Constraints
				{% endtrans %}
			</strong>
			<br>
			<label class="col-form-label" for="initial-constraints-switchbox" data-toggle="tooltip" data-placement="left" title="Add Constraints">
				<input id="initial-constraints-switchbox" class="constraints-switchbox" type="checkbox" data-toggle="toggle" data-onstyle="success" data-target=".toggled-constraints">
			</label>
		</div>
		<div id="initial-query-builder" class="collapsed-query-builder toggled-constraints"></div>
		<button class="btn btn-warning reset" id="initial-cc-reset" data-target="#initial-query-builder">Reset</button>
	</div>
</div>
