.form-inline .form-control.taxa-select {
  width: 100%;
}

.card-body .form-group {
  margin-bottom: 0.5rem;

  
}
label{
  font-size: 14px;
}

// #result-accordion{
//   display:flex;
//   flex-direction:row;
//   .collapsing {
//     width: 0;
//     transition: width 3s ease;
//   }
// }



.dataTable {
  th.form-column {
    text-align: center;
    
  }

  td.form-column {
    padding: 0;
    text-align: center;
    vertical-align: middle;

    .btn {
      margin: 0;
    }
  }

  a {
    color: #337ab7;

    &:hover {
      color: #005580;
    }
  }
}

.dt-top-bar {
  float: right;
  width: 60%
}

@-moz-document url-prefix() {
  fieldset {
    display: table-cell;
  }
}

.tooltip {
  max-width: unset;
}

.tooltip-inner {
  max-width: unset;
}

.tooltip-arrow {
  max-width: unset;
}

.taxon-spinner {
  font-size: 18px;
  padding: 0 20px;
}