{% extends 'edit.html.twig' %}

{# EDIT : BOX #}
{% block titlepage %}
	<h1>
		{{[
				'title.',
				entityname, 
				app.request.query.get('typeBoite')|default('') 
			]|join|trans}}
		{% if  flagvalid == 1 and actioncontroller != 'new'%}
			<i class="fas fa-check-circle"></i>
		{% endif %}
	</h1>
{% endblock %}


{% block body %}

	{{ parent() }}

{% endblock %}

{% block scripts %}
	{{ parent() }}

<script type="text/javascript">  

    $(document).ready(function(){
        {% if action == 'new'  %} 
            $('#bbees_e3sbundle_boite_codeBoite').keyup(function (e) {
                    var codeBoite = $(this).val().replace(/ /g, '_');
                    $('#bbees_e3sbundle_boite_codeBoite').val(codeBoite);
            })
        {% endif %}
    });
 </script>


{% endblock %}
