{# MOTU distribution form template #}

{% trans_default_domain 'queries' %}

<form id="main-form" action="#">
  <fieldset>
    <legend>
      <h2>
        {% trans %}
        label.search.param
        {% endtrans %}
      </h2>
    </legend>
    <div id="distribution-form">
    </div>
  </fieldset>
</form>