{# CO1 sampling query form template #}

{% trans_default_domain 'queries' %}

<form id="main-form" action="#">
	<fieldset>
		<legend>
			<h2 style='margin-bottom:18px'>
				{{ "label.search.param" | trans }}
			</h2>
		</legend>

		<div id="form-components">
			<center>
				<i class="fas fa-spin fa-spinner fa-4x"></i>
			</center>
		</div>

	</fieldset>
</form>
