{# CO1 sampling query form template #}

{% trans_default_domain 'queries' %}

<form id="main-form" action="#">
	<fieldset>
		<legend>
			<h2 style='margin-bottom:18px'>
				{{ "label.search.param" | trans }}
			</h2>
		</legend>

		<div id="species-select"></div>

	</fieldset>
</form>
