{% extends 'base.requetes.html.twig' %}
{% block body %}
  <h2>Réarrangements des taxons par méthode de délimitation</h2>
  <hr>
  <div class="row">
    <div class="col-xs-12 col-sm-4">
      {# Formulaire #}
      {% include 'requetes/formulaire2/form.html.twig' %}
    </div>
    <div class="col-xs-12 col-sm-8">
      {% include 'requetes/formulaire2/results.html.twig' %}
    </div>
  </div>
{% endblock %}

{% block scripts %}

  {{ parent() }}
  <script src="{{asset('e3s/js/requetes/rearrangements.js')}}"></script>

{% endblock %}
