{% extends 'base.requetes.html.twig' %}
{% block body %}
  <h2>Réarrangements des taxons par méthode de délimitation</h2>
  <hr>
  <div class="row">
    <div class="col-xs-12 col-sm-4">
      {# Formulaire #}
      {% include 'requetes/formulaire2/form.html.twig' %}
    </div>
    <div class="col-xs-12 col-sm-8">
      {% include 'requetes/formulaire2/results.html.twig' %}
    </div>
  </div>
{% endblock %}

{% block scripts %}

  {{ parent() }}
  <script src="{{asset('e3s/js/requetes/rearrangements.js')}}"></script>
{# 
  <script>
    function toggleFormSelect(event) {
      switch (event.target.value) {
        case 0:
          $(".method-select").prop('disabled', true);
          $(".taxa-select").prop('disabled', true);
          break;

        case 1:
          $(".method-select").prop('disabled', true);
          $(".taxa-select").prop('disabled', false);
          break;

        case 2:
          $(".method-select").prop('disabled', false);
          $(".taxa-select").prop('disabled', true);
          break;
      }
    }
    $(document).ready(function () {

      var countData
      var gd

      let speciesSelector = new SpeciesSelector("#main-form", true)
			let methodSelector = new MethodSelector("#main-form")

      $('input[name="reference"]')
        .change(toggleFormSelect)
        .filter(':checked')
        .trigger('change')

      $("#result-table").bootgrid({
        ajax: false,
        caseSensitive: false,
        multiSort: true,
        formatters: {
          "details": bgDetailsForm,
          "date_format": bgDateFormat
        }
      });

      $("#main-form").submit(function (event) {
        event.preventDefault();
        var form_data = $(this).serialize();
        var targetUrl = $(this).data('url')
        $.ajax({
          url: targetUrl,
          type: "POST",
          data: form_data,
          success: function (response) {
            var tab = $("#result-tabs").find('li.active a');
            var target = tab.data('target');
            displayResults(response[target]);
            $(".nav-tabs li")
              .removeClass("disabled")
              .find('a')
              .attr("data-toggle", "tab");
            $('a[data-toggle="tab"]').on('show.bs.tab', function (e) {
              displayResults(response[$(e.target).data('target')]);
            });
          }
        })
        function displayResults(data) {
          $("#result-table")
            .bootgrid("clear")
            .bootgrid("append", data)
            .bootgrid("reload");
          barPlot("#barplot", data);
        }
      });

    })
  </script> #}

{% endblock %}
