{% extends 'base.requetes.html.twig' %}
{% block body %}
  <h2>Réarrangements des taxons par méthode de délimitation</h2>
  <hr>
  <div class="row">
    <div class="col-xs-12 col-sm-4">
      {# Formulaire #}
      {% include 'requetes/formulaire2/form.html.twig' %}
    </div>
    <div class="col-xs-12 col-sm-8">
      <fieldset>
        <legend>
          <h3>Résultats</h3>
        </legend>

        <ul class="nav nav-tabs" role="tablist" id="result-tabs">
          <li role="presentation" class="active disabled" id="recto-tab">
            <a href="#result-pane" aria-controls="result-pane" role="tab" data-target='recto'>
              <strong>Référence
                <i class="fa fa-arrow-circle-right "></i>
                Méthodes
              </strong>
            </a>
          </li>
          <li role="presentation" class="disabled" id="verso-tab">
            <a href="#result-pane" aria-controls="result-pane" role="tab" data-target='verso'>
              <strong>Méthodes
                <i class="fa fa-arrow-circle-right "></i>
                Référence</strong>
            </a>
          </li>
        </ul>
        <div class="tab-content">
          <div role="tabpanel" class="tab-pane fade in out active" id="result-pane">
            <div class="well well-sm">
              <div id="barplot">
                <center>
                  <i class="fa fa-bar-chart fa-4x" style="margin:5vh"></i><br>
                </center>
              </div>
              <hr>
              <div class="table-responsive">
                <table id="result-table" class="table table-condensed table-hover table-striped">
                  <thead>
                    <tr>
                      <th data-column-id="methode">Méthode</th>
                      <th data-column-id="date_motu" data-formatter="date_format">Jeu de données</th>
                      <th data-column-id="match">Matchs</th>
                      <th data-column-id="split">Splits</th>
                      <th data-column-id="lump">Lumps</th>
                      <th data-column-id="reshuffling">Reshufflings</th>
                    </tr>
                  </thead>
                  <tbody></tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </fieldset>
    </div>
  </div>
{% endblock %}

{% block scripts %}

  {{ parent() }}

  <script>

    function onSpeciesSelected() {
      $("#submit-button").prop("disabled", true);
      $("#taxon-spinner").removeClass("hidden");
      $.post("{{path('taxname-search')}}", {
        species: $('#species').val(),
        genus: $("#genus").val()
      }, function (response) {
        var taxname = $('#taxname');
        taxname.html('')
        for (i = 0; i < response.data.length; i++) {
          taxname.append('<option value=' + response.data[i].id + '>' + response.data[i].taxname + '</option>');
        }
        $("#submit-button").prop("disabled", false);
        $("#taxon-spinner").addClass("hidden");
      });
    }

    function onGenusSelected() {
      $("#submit-button").prop("disabled", true);
      $("#taxon-spinner").removeClass("hidden");
      $.post("{{path('speciesingenus')}}", {
        genus: $('#genus').val()
      }, function (response) {
        var species = $('#species');
        species.html('')
        for (i = 0; i < response.data.length; i++) {
          species.append('<option value=' + response.data[i].species + '>' + response.data[i].species + '</option>');
        }
        {% if with_taxname %}
          onSpeciesSelected();
        {% else %}
          $("#submit-button").prop("disabled", false);
          $("#taxon-spinner").addClass("hidden");
        {% endif %}
      });
    }

    function displayResults(data) {
      $("#result-table").bootgrid("clear");
      $("#result-table").bootgrid("append", data);
      $("#result-table").bootgrid("reload");
      barPlot("#barplot", data);
    }

    $(document).ready(function () {

      var countData;

      var gd;

      $('#genus').change(onGenusSelected);
      $('#genus').trigger('change');

      $('#species').change(onSpeciesSelected);

      $('#date_methode').change(function () {
        onDateMotuSelected("#method-form", "#submit-button");
      });
      $('#date_methode').trigger('change');

      var checkedRef = $('input[name="reference"]:checked');

      $('input[name="reference"]').change(toggleFormSelect);
      $(checkedRef).trigger('change');

      $("#result-table").bootgrid({
        ajax: false,
        caseSensitive: false,
        multiSort: true,
        formatters: {
          "details": bgDetailsForm,
          "date_format": bgDateFormat
        }
      });

      $("#query2Form").submit(function (event) {
        event.preventDefault();

        var form_data = $(this).serialize();
        console.log(form_data);
        $.ajax({
          url: "{{ path('requete2') }}",
          type: "POST",
          data: form_data,
          success: function (response) {
            countData = response;
            var tab = $("#result-tabs").find('li.active a');
            var target = tab.data('target');
            displayResults(countData[target]);
            $(".nav-tabs li").removeClass("disabled");
            $(".nav-tabs li a").attr("data-toggle", "tab");
            $('a[data-toggle="tab"]').on('show.bs.tab', function (e) {
              displayResults(countData[$(e.target).data('target')]);
            });
          }
        });
      });

    })
  </script>

{% endblock %}