{% extends 'base.requetes.html.twig' %}
{% block body %}
  <h1>Carte de richesse génétique</h1>
  <hr>
  <div class='row'>
    <div class="col-xs-12">
      {# Formulaire #}
      {% include 'requetes/formulaire4/form.html.twig' %}
    </div>
  </div>
  <hr>
  <div class="row">
    <h2 id="resultats">Résultats</h2>
    {% include 'requetes/formulaire4/results.html.twig' with methods_list %}
  </div>
</div>

{% endblock %}


{% block scripts %}

{{ parent() }}

	<script>
	const methodList = JSON.parse("{{methods_list|json_encode()|raw |e('js')}}")
	console.log(methodList)
	</script>

  <script src = "{{asset('e3s/js/requetes/carte_richesse.js')}}"></script>

{% endblock %}
