@input-max-width : 700px;

form {
  .card.collection-wrapper {
    max-width:@input-max-width;
    .card-header {
      padding: 5px;
    }
    .card-body.entry-list {
      padding: 5px 20px 0 20px;
    }
    .form-group {
      margin-bottom: 5px;
    }
  }

  input,
  select,
  textarea,
  .bootstrap-select {
    max-width: @input-max-width;
  }

  .form-group{
    align-items: center;

    .col-form-label{
      padding-top: 0.35rem;
      padding-bottom: 0.35rem;
    }
  }
}
