{#
  MOTU assignment query form template
  Variables : 
    - criteres
#}
<form id="main-form" action="#">
	<fieldset>
		<legend>
			<h2>
				{% trans from 'queries' %}
				label.search.param
				{% endtrans %}
			</h2>
		</legend>

		<MotuForm id="motu-form" ref="motuForm">
			{% include "SpeciesSearch/assign-motu/identification-form-component.html.twig" with criteres %}
		</MotuForm>
	</fieldset>
</form>
