<div class="card panel-default">
	<div class="card-header">
		<strong>
			{% trans from 'queries' %}
			identification.label
			{% endtrans %}
		</strong>
	</div>
	<div class="card-body">
		<div class="form-group">
			<label for="niveau">
				{% trans from 'queries' %}
				identification.niveau
				{% endtrans %}
			</label>
			<select name="niveau" id="id-level" class="form-control selectpicker" data-toggle="tooltip" data-placement="top" title="{% trans from 'tooltips' %}assignation.niveau{% endtrans %}">
				<option value="1">
					{% trans from 'queries' %}
					entity.biomaterial.label
					{% endtrans %}
				</option>
				<option value="2">
					{% trans from 'queries' %}
					entity.individu.label
					{% endtrans %}
				</option>
				<option value="3" selected="selected">
					{% trans from 'queries' %}
					entity.seq.label
					{% endtrans %}
				</option>
			</select>
		</div>
		<div class="form-group">
			<label for="criteres">
				{% trans from 'queries' %}
				identification.criteres
				{% endtrans %}
			</label>
			<select name="criteres[]" id="select-identification" class="form-control selectpicker" data-selected-text-format="count" multiple>
				{% for critere in criteres %}
					<option value="{{critere.id}}" selected>
						{{critere.libelle|trans}}
					</option>
				{% endfor %}
			</select>
		</div>
	</div>
</div>
