{% extends 'SpeciesSearch/base.queries.html.twig' %}

{% block titlepage %}
  <h1>
    {% trans from 'queries' %}
    queries.motu.title
    {% endtrans %}
  </h1>
{% endblock %}

{% block stylesheets %}
  {{parent()}}
  {{ encore_entry_link_tags('spsearch/motu') }}
{% endblock %}

{% block body %}
  {# Main form #}
  {% include 'SpeciesSearch/assign-motu/form.html.twig' with criteres %}

  {# Result table #}
  {% include 'SpeciesSearch/assign-motu/results.html.twig' %}

  {# Modal and templates #}
  <div id="modal-container">
    {% include 'SpeciesSearch/assign-motu/details.modal.html.twig' %}
  </div>

  {% include 'SpeciesSearch/assign-motu/details.form.html.twig' %}

{% endblock %}

{# Scripts #}
{% block scripts %}
  {{ parent() }}

    {{ encore_entry_script_tags('spsearch/motu') }}

{% endblock %}