{% extends '@LehnaSpeciesSearch/base.queries.html.twig' %}

{% block titlepage %}
  <h1>
    {% trans from 'queries' %}
    queries.motu.title
    {% endtrans %}
  </h1>
  <hr style="clear:both">
{% endblock %}

{% block body %}
  {# Main form #}
  {% include '@LehnaSpeciesSearch/assign-motu/form.html.twig' with criteres %}

  {# Result table #}
  {% include '@LehnaSpeciesSearch/assign-motu/results.html.twig' %}

  {# Modal and templates #}
  <div id="modal-container">
    {% include '@LehnaSpeciesSearch/assign-motu/details.modal.html.twig' %}
  </div>

  {% include '@LehnaSpeciesSearch/assign-motu/details.form.html.twig' %}

{% endblock %}

{# Scripts #}
{% block scripts %}
  {{ parent() }}

  <script type="module" src="{{asset('bundles/lehnaspeciessearch/js/motus/main.js')}}"></script>

{% endblock %}