{# Résultats form 1 #}
<div class="table-responsive">
  <table id="result-table" class="table table-condensed table-hover table-striped">
    <thead>
      <tr>
        {# <th data-column-id="taxname" data-formatter="taxonLink">Taxon</th>
        <th data-column-id="methode">Méthode</th>
        <th data-column-id="date_motu" data-formatter="date_format" data-searchable="false">Date Méthode</th>
        <th data-column-id="nb_seq" data-converter="numeric" data-searchable="false">Séquences</th>
        <th data-column-id="nb_motus" data-converter="numeric" data-searchable="false">MOTUs</th>
        <th
          data-column-id="id_methode"
          data-formatter="details"
          data-sortable="false"
          data-searchable="false">Détails</th> #}
        <th id="col-taxname" data-link-url="{{path('referentieltaxon_show', {id:0})|trim(0)}}">Taxon</th>
        <th>Méthode</th>
        <th>Date Méthode</th>
        <th>Séquences</th>
        <th>MOTUs</th>
        <th id="col-details" data-link-url="{{ path('detailsModal') }}">Détails</th>
      </tr>
    </thead>
    <tbody></tbody>
  </table>
</div>
