{% extends 'base.requetes.html.twig' %}

{% trans_default_domain 'requetes' %}

{% block body %}
  <h1>
	{{"queries.echantillonnage.title" | trans }}
	</h1>
  <hr>
  <div class='row' style='padding:10px'>

    <div class="col-xs-12 col-lg-3 col-lg-offset-0">
      {# Formulaire #}
      {% include 'requetes/echantillonnage/form.html.twig' %}
    </div>

    <div class=" col-xs-12 col-lg-9 col-lg-offset-0">
      <fieldset>
        <legend>
          <h2 style='margin-bottom:18px'>
					{{"label.resultats" | trans }}
					</h2>
        </legend>
        {% include 'requetes/echantillonnage/results.html.twig' %}
      </div>
    </fieldset>

  </div>

  {% include 'requetes/echantillonnage/extra_templates.html.twig' %}

  {# Modal #}
  <div id="modal-container">
    {% include 'requetes/echantillonnage/details.modal.html.twig' with {
      'taxname' : ''
    } %}
  </div>
{% endblock %}

{% block scripts %}
  {{ parent() }}
  <script src="{{asset('e3s/js/requetes/echantillonnage_co1.js')}}"></script>
{% endblock %}
