{# Résultats formulaire 3 #}
<div class="table-responsive-md">
  <table id="result-table" class="table table-condensed table-hover table-striped" style="width:100%">
    <thead>
      <tr>
        <th></th>
        <th colspan="3">Sampling</th>
        <th colspan="3">Sampling [COI]
        </th>
        <th></th>
      </tr>
      <tr>
        <th id="col-taxname" data-link-url="{{path('referentieltaxon_show', {id:0}) | trim('0')}}">Taxon</th>
        <th>Stations</th>
        <th>LMP (Deg)</th>
        <th>MLE (Km)</th>
        <th>Stations</th>
        <th>LMP (Deg)</th>
        <th>MLE (Km)</th>
        <th id="col-details" data-link-url="{{ path('geocoords') }}">Loc.</th>
      </tr>
    </thead>
    <tbody></tbody>
  </table>
</div>
