
{% block form_label %}
{% endblock %}

{% block form_widget %}
  <div class="col-10">
    {% for field in form %}
      <div class="row form-group">
        {{ form_label(field) }}
        {{ form_widget(field, {'attr': {'class': 'form-control-sm'}}) }}
      </div>
    {% endfor %}
  </div>
{% endblock %}
