{% trans_default_domain 'requetes' %}
<form id="main-form" action="#" data-url="{{path('concordance-search')}}">
  <div class="row">
    <div class="col-xs-12 col-sm-8 col-sm-offset-2">
      <div class="panel panel-default">
        <div class="panel-heading">
          <strong>
            {% trans %}
            label.search.constraints
            {% endtrans %}
          </strong>
        </div>
        <div class="panel-body">
          <div class="row">
            <div class="col-xs-12 col-sm-4">
              <label for="lot-materiel" class="control-label">
                {% trans %}
                entity.lotmateriel.label
                {% endtrans %}
              </label>
              <select name="lot-materiel" id="lot-materiel-select" class="form-control concordance selectpicker">
                {% include 'requetes/concordance/select.options.html.twig' %}
              </select>
            </div>
            <div class="col-xs-12 col-sm-4">
              <label for="individu" class="control-label">
                {% trans %}
                entity.individu.label
                {% endtrans %}
              </label>
              <select name="individu" id="individu-select" class="form-control concordance selectpicker">
                {% include 'requetes/concordance/select.options.html.twig' %}
              </select>
            </div>
            <div class="col-xs-12 col-sm-4">
              <label for="sequence" class="control-label">
                {% trans %}
                entity.seq.label
                {% endtrans %}
              </label>
              <select name="sequence" id="sequence-select" class="form-control concordance selectpicker">
                {% include 'requetes/concordance/select.options.html.twig' %}
                <option value=1 class="unassigned">
								{% trans %}
								columns.undefined
								{% endtrans %}
								</option>
              </select>
            </div>
          </div>
        </div>
        {# <div class="panel-footer"></div> #}
      </div>
    </div>
    <div class="col-xs-12 col-lg-6"></div>
  </div>
  <center>
    <button
      type="submit"
      value="Rechercher"
      class="btn btn-primary btn-lg"
      id="submit-button"
      style="min-width:10em"
      data-loading-text="<i class='fa fa-spinner fa-spin'>">
      {% trans from 'requetes' %}
      label.search.bouton
      {% endtrans %}
    </button>
  </center>
</div>
