<option value="A">
  A</option>
<option value="B">
  B</option>
<option value="C">
  C</option>
<option value="0">
  {% trans from 'requetes' %}
  columns.any
  {% endtrans %}
</option>

{% if unassigned is defined %}
  <option value="1">
    {% trans from 'requetes' %}
    columns.undefined
    {% endtrans %}
  </option>
{% endif %}