<option value="A" class="typeA"> A</option>
<option value="B" class="typeB"> B</option>
<option value="C" class="typeC"> C</option>
<option value="0" class="no-constraints">
{% trans from 'requetes' %}
columns.any
{% endtrans %}
</option>
