{% trans_default_domain 'queries' %}

{% extends "@LehnaSpeciesSearch/base.modal.html.twig" %}
{% block modal_title %}
  {{ taxname }}
{% endblock %}

{% block modal_body %}
  <div class="geo-container">
    <div id="station-geo-map" style="width:100%"></div>
    <div class="geo-overlay">
      <i class="fa fa-spinner fa-spin fa-4x"></i>
    </div>
  </div>
{% endblock %}

{% block extra_templates %}
  <template id="details-modal-title">
    {% trans from 'queries' %}
    queries.echantillonnage.title
    {% endtrans %}
    :
    {{"{{taxname}}"}}
  </template>
{% endblock %}