{% extends 'SpeciesSearch/base.queries.html.twig' %}

{% trans_default_domain 'queries' %}

{% block stylesheets %}
	{{parent()}}
	{{ encore_entry_link_tags('spsearch/species-hypotheses') }}
{% endblock %}


{% block titlepage %}
	<h1>
		{% trans %} queries.specieshypotheses.title {% endtrans %}
	</h1>
{% endblock %}

{% block body %}
	{# Formulaire #}
	<div id="species-hypotheses-form">
		<center>
			<i class="fas fa-spin fa-spinner fa-4x m-5"></i>
		</center>
	</div>
	<hr/> 
  
  {% include 'SpeciesSearch/species-hypotheses/results.html.twig' %}
  
{% endblock %}

{% block scripts %}

	{{ parent() }}
	{{ encore_entry_script_tags('spsearch/species-hypotheses') }}

{% endblock %}
