{% extends 'SpeciesSearch/base.queries.html.twig' %}

{% trans_default_domain 'queries' %}

{% block titlepage %}
	<h1>
		{{"queries.concordance.title" | trans }}
	</h1>
{% endblock %}

{% block body %}
	<div
		class='row' style='padding:10px'>
		{# Formulaire #}
		{% include 'SpeciesSearch/taxon-consistency/form.html.twig' %}
	</div>

	<fieldset>
		<legend>
			<h2 style='margin-bottom:18px'>
				{{"label.resultats" | trans }}
			</h2>
		</legend>
		{% include 'SpeciesSearch/taxon-consistency/results.html.twig' %}
	</fieldset>

{% endblock %}

{% block scripts %}
	{{ parent() }}
	<script type="module" src="{{asset('bundles/lehnaspeciessearch/js/taxon_consistency/main.js')}}"></script>
{% endblock %}
