div.geo-container {
  position: relative;
}

.geo-container div.geo-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  text-align: center
}

.geo-container div.geo-overlay i {
  margin-top: 20%;
}

.form-inline .form-control.taxa-select {
  width: 100%;
}

.dataTable a {
  color: #337ab7;
}

.dataTable a:hover {
  color: #005580;
}

.dt-top-bar {
  float: right;
  width: 60%
}

@-moz-document url-prefix() {
  fieldset {
    display: table-cell;
  }
}

.tooltip {
  max-width: unset;
}

.tooltip-inner {
  max-width: unset;
}

.tooltip-arrow {
  max-width: unset;
}

.taxon-spinner {
  font-size: 18px;
  padding: 0 20px;
}

@media (min-width: 1300px) {
  .modal .modal-lg {
    width: 1200px !important;
  }
}