@import '~bootstrap/dist/css/bootstrap.min.css';
@import '~@fortawesome/fontawesome-free/css/all.css';
@import '~jquery-bootgrid/dist/jquery.bootgrid.css';

@import './custom.css';
@import './typeaheadjs.css';

@import './tables.less';

@import "./navbars/nav.less";
@import "./navbars/top-nav.less";



body {
  color: #4c5b6b;
  /* background: #2A3F54; */
  font-family: "Helvetica Neue", Roboto, Arial, "Droid Sans", sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.471
}

a {
  color: #5A738E;
  text-decoration: none;
  
  &:hover, &:focus {
    text-decoration: none
  }
}



body .main-container {
  max-width: 100vw;
  min-height: 100vh;
  display: grid;
  grid-template-areas:
    "nav-left nav-top"
    "nav-left header"
    "nav-left main-content"
    "nav-left footer"
    "nav-left .";

  grid-template-columns: 0fr minmax(250px, 1fr);
  grid-template-rows: 0fr auto auto auto 1fr;
  // gap: 10px;
  row-gap: 10px;

  nav.nav-left {
    grid-area: nav-left;
  }

  nav.top-nav {
    grid-area: nav-top;
    width: fit-content;
  }

  footer {
    grid-area: footer;
  }

  div.main-content {
    grid-area: main-content;
    padding: 0 10px;
    max-width: 100%;

  }

  >header.main-header {
    grid-area: header;
    padding: 0 10px;
    // sub-grid definition
    display: grid;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
    grid-template-columns: auto 0fr;
    grid-template-areas:
      "title  help-btn"
      "actions  actions"
      "help  help";

    >h1 {
      grid-area: title;
    }

    >ul.page-actions {
      grid-area: actions;
      padding: 0;
      margin: 0;
      margin-right: auto;
      display: flex;
      flex-wrap: wrap;
      justify-content: stretch;
      gap: 10px;

      >a {
        padding: 10px;
        flex-grow: 1;
      }
    }

    >button.help-btn {
      grid-area: help-btn;
      width: 40px;
      height: 40px;
    }

    >#page-help {
      grid-area: help;
    }
  }

}