body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(23, 53, 77);
  overflow-x: hidden;
  img#dna-bg {
    pointer-events: none;
    position: absolute;
    min-width: 100vw;
    height: 100vh;
    // top: -10vh;
    opacity: 0.05;
    z-index: -1;
    transform: scaleX(-1);
  }
  div#world-bg-wrapper {
    pointer-events: none;
    z-index: -1;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;

    img#world-bg {
      opacity: 0.07;
      z-index: -2;
      width: 120vw;
      min-width: 1200px;
      flex-shrink: 0;
    }
  }

  div#login-panel {
    height: 100vh;
    display: flex;
    flex-direction: column;

    h2 {
      text-align: center;
    }

    #login-form {
      background-color: white;
      padding: 50px;
      margin-top: 10vh;
      max-width: 600px;
      width: 500px;
      box-shadow: 5px 5px 5px rgb(5, 27, 46);
      label,
      button,
      input {
        font-size: 14pt;
      }
      .form-header {
        display: flex;
        justify-content: center;
        #app_image {
          width: 100px;
          height: 100px;
          border-radius: 50%;
        }
      }
      #lang-switch {
        text-align: center;
      }
    }
  }

  #login-footer {
    width: 100vw;
    background-color: white;
    svg {
      position: absolute;
      top: calc(100vh - 45px);
      left: calc(50vw - 50px);
      z-index: -1;
      circle {
        filter: drop-shadow(0px 2px 3px white);
      }
    }

    #login-footer-content {
      // box-shadow: 0px 0px 5px 20px white;
      padding: 10px;
      display: grid;
      grid-template-areas:
        "lehna-logo lehna . logos"
        "bbees-logo bbees . logos";
      grid-template-columns: 0fr auto 1fr minmax(0, auto);
      gap: 10px;
      align-items: center;
      width: 100%;

      .umr-desc {
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        &#lehna-desc {
          grid-area: lehna;
        }

        &#bbees-desc {
          grid-area: bbees;
        }
      }

      #lehna-logo {
        grid-area: lehna-logo;
      }

      #bbees-logo {
        grid-area: bbees-logo;
      }

      #login-logos {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        max-width: 300px;
        grid-area: logos;
      }
    }
  }
}

@media (max-width: 500px) {
  body {
    background-color: white;
    div#world-bg-wrapper,
    #dna-bg {
      display: none;
    }
    div#login-panel {
      height: auto;
      width: 100%;
      #login-form {
        margin: 0;
        width: unset;
        max-width: 500px;
        padding: 20px;
        label,
        button,
        input {
          font-size: 16pt;
        }
      }
    }
    #login-footer {
      padding-top: 50px;

      svg {
        display: none;
      }
      #login-footer-content {
        grid-template-areas:
          "lehna-logo lehna"
          "bbees-logo bbees"
          "logos logos";
      }
    }
  }
}
