{# Formulaire 3 #}

<form id="main-form" action="#">
  <fieldset>
    <legend>
      <h2 style='margin-bottom:18px'>Paramètres</h2>
    </legend>
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-sm-offset-3 col-lg-12 col-lg-offset-0">
        <div class="panel panel-default">
          <div class="panel-heading">
            <div class="form-check">
              <strong>
                Recherche par espèce
              </strong>
              <span class="pull-right">
                <input class="switchbox" type="checkbox" name="taxaFilter" id="taxaFilter" autocomplete="off" checked="checked">
              </span>
              <i class="fa fa-spinner fa-spin pull-right" id="taxon-spinner" style="font-size:16px"></i>
            </div>
          </div>
          <div class="panel-body" id="taxa-select">
            {% include 'requetes/species.selector.html.twig' %}
          </div>
          <div class="panel-footer">
            <input type="submit" value="Rechercher" class="btn btn-primary btn-block" id="submit-button">
          </div>
        </div>
      </div>
    </div>

  </fieldset>
</form>