{# Résultats formulaire 3 #}
<div class="table-responsive">
  <table id="result-table" class="table table-condensed table-hover table-striped">
    <thead>
      <tr>
        <th data-column-id="taxname" data-formatter="taxonLink">Taxon</th>
        <th data-column-id="nb_sta" data-converter="numeric" data-searchable="false">Nombre stations</th>
        <th data-column-id="lmp" data-converter="numeric" data-searchable="false">LMP (Deg)</th>
        <th data-column-id="mle" data-converter="float_number" data-searchable="false">MLE (Km)</th>
        <th data-column-id="nb_sta_co1" data-converter="numeric" data-searchable="false">Nombre stations [COI]</th>
        <th data-column-id="lmp_co1" data-converter="float_number" data-searchable="false">LMP (Deg) [COI]</th>
        <th data-column-id="mle_co1" data-converter="float_number" data-searchable="false">MLE (Km) [COI]</th>
        <th data-column-id="id" data-formatter="details" data-searchable="false" data-sortable="false">Loc.</th>
      </tr>
    </thead>
    <tbody></tbody>
  </table>
</div>